:root {
  --light-gray: #f5f7fa;
  --gray: #757575;
  --black: #212121;
  --success: #388e3c;
  --warning-light: #fff3e0;
  --success-light: #e8f5e9;
}

// Background Color Classes
.bg-error-light {
  background-color: var(--mat-sys-error-container);
}

.bg-error {
  background-color: var(--mat-sys-error);
}

.bg-warning-light {
  background-color: var(--mat-sys-tertiary-container);
}

.bg-warning {
  background-color: var(--mat-sys-tertiary);
}

.bg-success-light {
  background-color: var(--success-light);
}

.bg-success {
  background-color: var(--success);
}

.bg-primary {
  background-color: var(--mat-sys-primary);
}

.bg-white {
  background-color: var(--mat-sys-surface);
}

.bg-black {
  background-color: var(--mat-sys-on-surface);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

// Border Color Classes
.border-error-light {
  border-color: var(--mat-sys-error-container);
}

.border-error {
  border-color: var(--mat-sys-error);
}

.border-warning-light {
  border-color: var(--mat-sys-tertiary-container);
}

.border-warning {
  border-color: var(--mat-sys-tertiary);
}

.border-success-light {
  border-color: var(--success-light);
}

.border-success {
  border-color: var(--success);
}

.border-primary {
  border-color: var(--mat-sys-primary);
}

.border-white {
  border-color: var(--mat-sys-surface);
}

.border-black {
  border-color: var(--mat-sys-on-surface);
}

.border-gray {
  border-color: var(--gray);
}

.border-light-gray {
  border-color: var(--light-gray);
}
