.is-mobile .header {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.header {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
