.is-mobile .header {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.spacer {
  flex: 1 1 auto;
}

.refresh-btn {
  animation: pulse 2s infinite;

  mat-icon {
    margin-right: 4px;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
