.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 1px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;

  .mat-sidenav {
    --mat-sidenav-container-shape: 0px;
    --mat-sidenav-container-width: 200px;
  }

  .mat-mdc-nav-list .mat-mdc-list-item {
    --mat-list-active-indicator-shape: var(--br-sm);

    &.active {
      background-color: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);
      --mat-sys-on-surface: var(--mat-sys-on-primary);
    }

    .mat-icon {
      width: var(--fs-xl);
      height: var(--fs-xl);
      font-size: var(--fs-xl);
    }
  }
}

.sidenav-content {
  padding: 32px;
  // substract navbar height
  height: calc(100% - 64px);
}
