.task-card {
  max-width: 400px;
  .task-card-status {
    width: fit-content;
  }
  .task-card-description {
    // TODO: make a mixin for this
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 40px;
  }
}

.mat-divider {
  --mat-divider-color: var(--mat-sys-surface-variant);
}

.task-card-assignee-avatar {
  width: var(--fs-xl);
  height: var(--fs-xl);
}
